.first {
  fill: #fad091;
}
.second {
  fill: #ef7d7d;
}
.third {
  fill: #97c7fc;
}
.forth {
  fill: #cccccc;
}
.btn1 {
  background-color: #fad091;
}
.btn2 {
  background-color: #ef7d7d;
}
.btn3 {
  background-color: #97c7fc;
}
.btn4 {
  background-color: #cccccc;
}
